<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>948102219596-1aobeoevk1dhnhfr8n90ja96i63aq02a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.948102219596-1aobeoevk1dhnhfr8n90ja96i63aq02a</string>
	<key>API_KEY</key>
	<string>AIzaSyBfYqBS9hkfdNCBQbVwa_tmckdkjiEzYIM</string>
	<key>GCM_SENDER_ID</key>
	<string>948102219596</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ibrahim.MoveToZee</string>
	<key>PROJECT_ID</key>
	<string>movetozee</string>
	<key>STORAGE_BUCKET</key>
	<string>movetozee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:948102219596:ios:d78277373b197818f3f1e9</string>
</dict>
</plist>